celery
channels-redis==4.2.1
channels==4.2.2
django-admin-sortable2
django-cors-headers
django-environ
django-filter
django-redis
django==5.1
djangorestframework-simplejwt==5.5.0
djangorestframework==3.15.2
envparse
gunicorn
ipython
openai==1.82
Pillow
pip-tools
psycopg2-binary
pyaes
pycryptodome
redis==5.0.8
requests
unidecode
uvicorn==0.34.2
websockets==15.0.1
